.custom-header {

  .header-menu-btn {
    display: inline-block;
    text-align: center;
  }

  .header-navigation {
    ul {
      li {
        span {
          display: flex;
        }
      }
    }
  }

  .header-global-bar {
    padding-right: 10px;
    .overflow-menu-options {
      box-sizing: border-box;
      padding: 0;
      border: 0;
      margin: 0;
      font-family: inherit;
      font-size: 100%;
      vertical-align: baseline;
      box-shadow: 0 2px 6px var(--cds-shadow, rgba(0, 0, 0, 0.3));
      position: absolute;
      z-index: 6000;
      flex-direction: column;
      align-items: flex-start;
      background-color: var(--cds-layer);
      inline-size: 10rem;
      inset-block-start: 32px;
      list-style: none;
    }
  }

  .side-nav {
    display: none;

    &.cds--side-nav--expanded {
      display: block;
    }
  }
}